<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Universidade de Vassouras - AVA</title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/style_index.css')}}">
    </head>
    <body>
        <header>
            <img id="logo" src="{{url_for('static', filename = 'img/logo.png')}}">
            <nav>
                <ul>
                    <a href="{{url_for('hello')}}"><li id="logoheader"><img src="{{url_for('static', filename = 'img/inicio.png')}}"></li></a>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/disciplinas.png')}}"></li>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/calendario.png')}}"></li>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/forum.png')}}"></li>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/config.png')}}"></li>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/sair.png')}}"></li>
                </ul>
            </nav>
        </header>

        <div class="area-informacao">
            <div class="pesquisa">
                <div class="barra-pesquisa">
                    <input type="text" name="box" placeholder="Digite algo para pesquisar...">
                </div>
            </div>
            <div class="area-titulo">
                <h1 class="titulo">Seja bem vindo ao Ambiente Virtual de Aprendizagem - AVA</h1>
            </div>
        </div>
        <div class="main">
            <div class="card1">
                <div class="image">
                    <img id="ajustar" src="{{url_for('static', filename = 'img/pdf.png')}}">
                </div>
                <div class="content-card1">
                    <h2 class="content-titulo1">Modelagem Banco de Dados</h2>
                    <p class="content-descricao1">Professor: Anrafel</p>
                    <button class="content-botao1">Acessar trilha</button>
                </div>
            </div>
            <div class="card1">
                <div class="image">
                    <img id="ajustar" src="{{url_for('static', filename = 'img/pdf.png')}}">
                </div>
                <div class="content-card1">
                    <h1 class="content-titulo1">Lorem Ipsum</h1>
                    <p class="content-descricao1">Lorem</p>
                    <button class="content-botao1">Clique aqui</button>
                </div>
            </div>
        </div>
        <div class="main2">
            <div class="card2">
                <div class="image2">
                    <img id="ajustar" src="{{url_for('static', filename = 'img/pdf.png')}}">
                </div>
                <div class="content-card2">
                    <h1 class="content2-titulo">Sistemas Operacionais</h1>
                    <p class="content-descricao1">Professor: Felipe Melo</p>
                    <p class="content-descricao1">Período: 4</p>
                    <button class="content2-botao">Clique aqui</button>
                </div>
            </div>
        </div>
    </body>
</html>