<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Universidade de Vassouras - AVA</title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/style_index.css')}}">
    </head>
    <body>
        <header>
            <img id="logo" src="{{url_for('static', filename = 'img/logo.png')}}">
            <nav>
                <ul>
                    <a href="{{url_for('hello')}}"><li id="logoheader"><img src="{{url_for('static', filename = 'img/inicio.png')}}"></li></a>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/disciplinas.png')}}"></li>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/calendario.png')}}"></li>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/forum.png')}}"></li>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/config.png')}}"></li>
                    <li id="logoheader"><img src="{{url_for('static', filename = 'img/sair.png')}}"></li>
                </ul>
            </nav>
        </header>

        <div class="area-informacao">
            <div class="pesquisa">
                <div class="barra-pesquisa">
                    <input type="text" name="box" placeholder="Digite algo para pesquisar...">
                </div>
            </div>
            <div class="area-titulo">
                <h1 class="titulo">Seja bem vindo ao Ambiente Virtual de Aprendizagem - AVA</h1>
            </div>
        </div>
        <div class="main">
            <div class="card1">
                <div class="image">
                    <img id="ajustar" src="{{url_for('static', filename = 'img/pdf.png')}}">
                </div>
                <div class="content-card1">
                    <h2 class="content-titulo1">{{disciplina.get_nome_disciplina()}}</h2>
                    <p class="content-descricao1">{{disciplina.get_professor()}}</p>
                    <button class="content-botao1 botao">Acessar trilha</button>
                </div>
            </div>
            <div class="card3">
                <div>
                    <h1 class="content-card1">Estatísticas Disciplina</h1>
                </div>
                <div class="agora-vai">
                    <div class="agora-vaimrm">
                        <h2 class="num">Progresso</h2>
                        <h2 class="num">50%</h2>
                    </div>
                    <div class="agora-vaimrm">
                        <h2 class="num">Trabalhos</h2>
                        <h2 class="num">0</h2>
                    </div>
                    <div class="agora-vaimrm">
                        <h2 class="num">Forum</h2>
                        <h2 class="num">0</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="main2">
            {% for aula in aulas_lista %}
            <div class="card2">
                <div class="image2">
                    <img id="ajustar" src="{{url_for('static', filename = 'img/pdf.png')}}">
                </div>
                <div class="content-card2">
                    <h1 class="content2-titulo">{{aula.get_nomeAula()}}</h1>
                    <p class="content-descricao1">{{aula.get_conteudoAula()}}</p>
                    <button class="content-botao1 botao">Clique aqui</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>