{% extends 'base.html' %}
{% block body %}
        <div class="area-informacao">
            <div class="pesquisa">
                <div class="barra-pesquisa">
                    <input type="text" name="box" placeholder="Digite algo para pesquisar...">
                </div>
            </div>
            <div class="area-titulo">
                <h1 class="titulo">Seja bem vindo ao Ambiente Virtual de Aprendizagem - AVA</h1>
            </div>
        </div>
        <div class="main">
            <div class="card1">
                <div class="image">
                    <img id="ajustar" src="{{url_for('static', filename = 'img/pdf.png')}}">
                </div>
                <div class="content-card1">
                    <h1 class="content-titulo1">Todas disciplinas</h1>
                    <p class="content-descricao1">Acesse a trilha de todas as disciplinas</p>
                    <button class="content-botao1 botao">Acessar trilhas</button>
                </div>
            </div>
            <div class="card3">
                <div class="content-card1">
                    <h1>Estatísticas Gerais</h1>
                </div>
                <div class="card-secundario">
                    <div class="mini1">
                        <img src="{{url_for('static', filename = 'img/chapeu.png')}}">
                        <p class="numero">2</p>
                        <p class="subtitulo">Novas Aulas</p>
                    </div>
                    <div class="mini1">
                        <img src="{{url_for('static', filename = 'img/caneta.png')}}">
                        <p class="numero">0</p>
                        <p class="subtitulo">Trabalhos pendentes</p>
                    </div>
                    <div class="mini1">
                        <img src="{{url_for('static', filename = 'img/forum2.png')}}">
                        <p class="numero">1</p>
                        <p class="subtitulo">Postagens fórum</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main2">
            {% for disciplina in todas_disciplinas %}
            <div class="card2">
                <div class="image2">
                    <img id="ajustar" src="{{url_for('static', filename = 'img/pdf.png')}}">
                </div>
                <div class="content-card2">
                    <h1 class="content2-titulo">{{disciplina.get_nome_disciplina()}}</h1>
                    <p class="content2-titulo">Professor: {{disciplina.get_professor()}}</p>
                    <p class="content2-titulo">Período: {{disciplina.get_periodo()}}</p>
                    <a href="{{url_for('disciplina', id_disciplina = disciplina.get_id_disciplina())}}"><button class="content-botao1 botao">Clique aqui</button></a>
                </div>
            </div>
            {% endfor %}
        </div>

{%endblock%}