body{
    background-color: #FFFFFF;
    display: grid;
    grid-template-areas: "header" "conteudo" "footer";
    grid-template-rows: 12vh 68vh 20vh;
}

#logo{
    width: 65%;
    height: 60%;
}

#logoheader{
    width: 50px;
    height: 50px;
}

body header{
    background-color: #F5F5F5;
    grid-area: header;
    display: grid;
    grid-template-areas: "titulo menu";
    grid-template-columns: 50vh auto;
    place-items: center;
    justify-content: left;
}

body header h1{
    grid-area: titulo;
}

body header nav{
    grid-area: menu;
}

body header nav ul{
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 10vh;
}

body article{
    display: grid;
    background-color: #FFFFFF;
    grid-area: conteudo;
    grid-template-areas: "area-titulo area-titulo" "box1 box2" "box3 box4";
    grid-template-rows: 17vh 25vh 26vh;
}

#area-titulo{
    grid-area: area-titulo;
}

#box1{
    display: grid;
    grid-area: box1;
    background-color: black;
    grid-template-areas: "img h1" "img p" "img botao";
    grid-template-rows: 9vh 11vh 5vh;
}

#box2{
    display: grid;
    grid-area: box2;
    background-color: red;
    grid-template-areas: "titulozada titulozada titulozada titulozada" "logo1 logo2 logo3 logo4" "num1 num2 num3 num4" "descricao1 descricao2 descricao3 descricao4";
    grid-template-rows: 5vh 8vh 5vh 7vh;
}

#box3{
    display: grid;
    grid-area: box3;
    background-color: yellow;
    grid-template-areas: "image titulozao" "image professor" "image periodo" "image botaozada";
    grid-template-rows: 6vh 6vh 6vh 8vh;
}

#box4{
    display: grid;
    grid-area: box4;
    background-color: blue;
    grid-template-areas: "image titulozao2" "image professor2" "image periodo2" "image botaozada2";
}

#image{
    grid-area: image;
}

#titulozao{
    grid-area: titulozao;
}

#titulozao2{
    grid-area: titulozao2;
}

#professor{
    grid-area: professor;
}

#professor2{
    grid-area: professor2;
}

#periodo{
    grid-area: periodo;
}

#periodo2{
    grid-area: periodo2;
}

#botaozada{
    grid-area: botaozada;
}

#botaozada2{
    grid-area: botaozada2;
}

#titulozada{
    grid-area: titulozada;
    background-color: red;
}

#logo1{
    grid-area: logo1;
}

#logo2{
    grid-area: logo2;
}

#logo3{
    grid-area: logo3;
}

#logo4{
    grid-area: logo4;
}

#num1{
    grid-area: num1;
}

#num2{
    grid-area: num2;
}

#num3{
    grid-area: num3;
}

#num4{
    grid-area: num4;
}

#descricao1{
    grid-area: descricao1;
}

#descricao2{
    grid-area: descricao2;
}

#descricao3{
    grid-area: descricao3;
}

#descricao4{
    grid-area: descricao4;
}

.pdfzao{
    height: 240px;
    width: 270px;
}

.pdfzin{
    height: 50px;
    width: 50px;
}

#img{
    grid-area: img;
    background-color: green;
}

#h1{
    grid-area: h1;
    background-color: green;
}

#p{
    grid-area: p;
    background-color: orangered;
}

#botao{
    grid-area: botao;
    background-color: orange;
}

body footer{
    background-color: #53353A;
    grid-area: footer;
}

@media screen and (max-width: 1385px) {
    body{
        grid-template-areas: "cabecalho" "conteudo" "conteudo2";
        grid-template-columns: auto;
        grid-template-rows: 10vh 50vh 20hv 20vh;
    }
}

@media screen and (max-width: 1046px) {
    body header{
        grid-template-areas: "titulo" "menu";
        grid-template-columns: auto;
        grid-template-rows: 5vh 5vh;
    }
}

.titulo{
    text-align: center;
    font-size: 35px;
    font-family: Arial;
}

.barra-pesquisa{
    text-align: center;
    padding-top: 15px;
}

input{
    border: 3px solid #803031;
    height: 40px;
    width: 550px;
    border-radius: 50px;
    padding: 0px 10px;
}