body header{
    background-color: #F5F5F5;
    grid-area: header;
    display: grid;
    grid-template-areas: "titulo menu";
    grid-template-columns: 50vh auto;
    place-items: center;
    justify-content: left;
}

body header h1{
    grid-area: titulo;
}

body header nav{
    grid-area: menu;
}

body header nav ul{
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 10vh;
}

#logo{
    width: 65%;
    height: 60%;
}

#logoheader{
    width: 50px;
    height: 70px;
}

.area-informacao{
    text-align: center;
    margin: auto;
}

.area-informacao .pesquisa .barra-pesquisa{
    padding-top: 15px;
}

.area-informacao .area-titulo1 .titulo{
    font-size: 35px;
    font-family: Arial;
}

input{
    border: 3px solid #803031;
    height: 40px;
    width: 550px;
    border-radius: 50px;
    padding: 0px 10px;
}

.main{
    justify-content: center;
    display: flex;
    padding: 32px;
    flex-flow: row wrap;
    gap: 20px;
}

.main .card1{
    display: flex;
    background-color: #E9E7E7;
    border-radius: 4%;
    height: 30%;
    width: 35%;
}

.main .card3{
    background-color: #E9E7E7;
    text-align: center;
    border-radius: 4%;
    height: 30%;
    width: 35%;
    padding-bottom: 45px;
}

.main .card3 .card-secundario .mini1 .subtitulo{
    font-family: Arial;
}

.main .card3 .agora-vai{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.main .card3 .agora-vai .agora-vaimrm .num{
    font-family: Arial;
}

.main .card3 .content-card1{
    font-family: Arial;
}

.main .card3 .card-secundario{
    display: flex;
    justify-content: center;
    gap: 45px;
}

.main .card1 .image{
    background-color: #803031;
    border-radius: 15%;
    width: 50%;
    border: 25px solid #E9E7E7;
}

.main .card1 .content-card1{
    text-align: center;
    width: 100%;
}

.main .card1 .image #ajustar{
    width: 95%;
}

.main .card1 .content-card1 .content-botao1{
    text-align: right;
    margin-top: 50px;
}

.main .card1 .content-card1 .content-descricao1{
    text-align: left;
}

.main2 .card2 .content-card2 .content-descricao1{
    text-align: left;
}

.main .card1 .content-card1 .content-titulo1{
    text-align: left;
}

.main2{
    justify-content: center;
    display: flex;
    padding: 32px;
    flex-flow: row wrap;
    gap: 20px;
}

.main2 .card2{
    display: flex;
    background-color: #E9E7E7;
    border-radius: 4%;
    height: 30%;
    width: 35%;
}

.main2 .card2 .content-card2{
    text-align: center;
    width: 100%;
}

.main2 .card2 .image2 #ajustar{
    width: 95%;
}

.main2 .card2 .image2{
    background-color: #803031;
    border-radius: 15%;
    border: 25px solid #E9E7E7;
    width: 50%;
}

.main2 .card2 .content-card2 .content-botao1{
    text-align: right;
    margin-top: 20px;
}

.main2 .card2 .content-card2 .content2-titulo{
    text-align: left;
}

.area-informacao .area-titulo .titulo {
    font-family: Arial;
}

.main .card1 .content-card1 {
    font-family: Arial;
}

.main2 .card2 .content-card2{
    font-family: Arial;
}

.main .card1 .content-card1 .content-botao1 {
    font-family: arial;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.main .card1 .content-card1 .botao {
    background: #803031;
    color: #fff;
    box-shadow: 0 5px 0 #803031;
}

.main .card1 .content-card1 .botao:hover {
    background: #848484;
    color: #fff;
    box-shadow: 0 5px 0 #585858;
}

.main .card1 .content-card1 .botao:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.main2 .card2 .content-card2 .content-botao1 {
    font-family: arial;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.main2 .card2 .content-card2 .botao {
    background: #803031;
    color: #fff;
    box-shadow: 0 5px 0 #803031;
}

.main2 .card2 .content-card2 .botao:hover {
    background: #848484;
    color: #fff;
    box-shadow: 0 5px 0 #585858;
}

.main2 .card2 .content-card2 .botao:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}